{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}
<div class="container">

    <h1 class="text-center">Liste des produits</h1>

    

    {% for produit in produits %}

        {# {{dump(app.user.id)}} #}
        {{ produit.nom}}  
        {% if produit.user.id  == app.user.id %}Editer{% endif %}<br>
        
    {% endfor %}

</div>
{% endblock %}
